.list-group-item {
  label {
    font-weight: normal;
  }

  a {
    display: block;

    &.inline {
      display: inline-block;
    }
  }
}

.media {
  &.shopping-cart-row {
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: 0;
    }
  }
}
a.add-to-cart-btn {
  i {
    display: none;
  }
}
