html, body {
  width:100%;
}

/* Header Section  */

.main-header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    min-width: inherit;
    -webkit-transform: translateZ(0);
}

.header-inner {
  position: relative;
  height: 85px;
  text-align: center;
  background: #adad85;
  border-bottom: 1px solid #e6e6e6;
  padding: 25px;
  z-index: 1000;
}

.form-search {
  margin: 0;
  position: relative;
}

.form-search .search-input {
  padding: 5px 22px 3px 2px;
  width: 350px;
  height: 30px;
  background: #faf6ec;
  color: #808080;
  outline: 0;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 15px;
  padding-left: 15px;
}

.header-inner .header-center {
  a {
    color: rgb(239,234,225);
    font-size: 24px;
  }
  display: inline-block;
  margin-left: -60px;
}

.header-inner .header-center a:hover {
  text-decoration: none;
}

.header-inner a.header-user-item {
  min-width: 100px;
  background: #fff;
  border: 1px solid rgb(102,89,92);
  margin-top: 10px;
  margin-right: 10px;
  transition: 1s;
}

.header-inner .header-right a.btn {
  height: 30px;
  margin-top: 13px;
}


.header-inner .header-user-item:hover {
  border: 1px solid #fff;
  background: rgb(102,89,92);
  color: #fff;
}

.header-inner .header-right {
  margin-top: -13px;

  a {
    color: rgb(239,234,225);
    margin-top: 1px;
  }
  a:hover {
    background-color: rgb(88,75,79);
  }
  a.btn {
    color: rgb(88,75,79);
  }
  a.btn:hover {
    color: rgb(239,234,225);
  }
}



@media screen and (max-width: 786px) {
  .header-inner .header-center {
    margin-left: -70px;
  }
}


/* media query */

@media screen and (max-width: 1400px) {
  #banner .col-md-10 {
    padding-right: 0px;
  }
}

/* End of pins */

/* customer-feedback */
#customer-feedback {
  padding-bottom: 50px;
  background-color:#fff;
  padding-top: 20px;
  .col-md-4 {
    padding: 15px 10px;
    .quote-box-1 {
      padding: 30px 30px;
      background-color: #FFF;
      color: rgba(0, 0, 0, 0.5);
      line-height: 2em;
      border:4px solid  #faf6ec;
      margin-top:-41px;
      position: relative;
      z-index:1;
      .fa{
        color:#faf6ec;
      }
    }
  }
}
.fd-avatar-box{
    border:4px solid  #faf6ec;
    border-radius: 168px;
    width: 83px;
    height: 83px;
    background-color: #fff;
    position: relative;

    z-index: 14;
    margin:0 auto;
    .fd-avatar-box-color-overlay{
      position: absolute;
      background-color: none;
      border-radius: 167px;
      height: 83px;
      width: 83px;

    }
    img {
      width: 100%;
      margin:1px auto;
      z-index: 15;
    }
    .round-image-74 {
      background-color: white;
      border: 1px solid  #faf6ec;
      border-radius: 37px;
      -moz-border-radius: 37px;
      -webkit-border-radius: 37px;
      height: 74px;
      width: 74px;
      overflow: hidden;
      text-align: center;
    }
}

/* call-to-action */

#call-to-action {
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 45px;
  .btn-default {
    background-color: rgb(211,122,130);
    color: #fff;
    border-color: #fff;
    padding-top: 8px;
    width: 150px;
  }
}

.banner-v2 {
  margin-top: 60px;
  height: 550px;
  .banner-img{
    height: 550px;
    position: relative;
    z-index:1;
    img{
      width:100%;
      opacity:0.9;
      height:100%;
    }
  }
  .banner-detail{
    margin-top: -480px;
    padding-top: 0px;
    height: 550px;
    position: relative;
    z-index:10;
    .banner-logo {
      color: #fff;
      font-family: 'Dancing Script', cursive;
      font-size: 69px;
    }
    .banner-slogan {
      position: relative;
      color: #55ff00;
      margin-top: 120px;
      margin-left: 30%;
      font-weight: 400;
      width: 400px;
    }
    .sub-slogan {
      margin-top: 40px;
      padding-right: 40px;
      font-size: 50px;
    }
    .sign-up-button {
      margin-left: 30%;
      position: absolute;
      height: 80px;
      margin-top: 30px;
      width: 100%;
    }
    .btn-default {
      background: rgb(230,178,84);
      color: #fff;
      height:50px;
      width:150px;
      padding-top: 7px;
      font-size: 24px;
      border: 1px solid #fff;
    }
  }
}

.module-name {
    margin-top: 45px;
    margin-bottom: 45px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 0;
}

.module-name.decorative i {
    display: inline-block;
    vertical-align: middle;
    width: 95px;
    height: 2px;
    background: rgba(0, 0, 0, 0.5);
    margin-right: 20px;
}

.module-name.decorative span {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.module-name.decorative span+i {
    margin-right: 0;
    margin-left: 18px;
}
